.aSection {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 5rem;
}

.aContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.aBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  position: relative;
}

.aBox > h1 {
  align-self: flex-start;
  font-size: 3rem;
}

.aBox > h1 > span {
  color: rgb(236, 240, 36);
}

.aBox > h3 {
  align-self: flex-start;
}

.aBox > h3 > span {
  color: rgb(236, 240, 36);
}

.aIcon {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: flex-start;
  margin: 10px 0;
}

.aIcon a {
  display: flex;
  color: rgb(236, 240, 36);
  align-items: center;
  justify-content: center;
}

.aIcon a:nth-child(2),
.aIcon a:nth-child(3),
.aIcon a:nth-child(4) {
  margin-left: 10px;
}

.aButton {
  background-color: rgb(236, 240, 36);
  width: 120px;
  height: 30px;
  align-self: flex-start;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(175, 178, 26, 0.85) 2px 4px 1px;
}

.diKlik {
  background-color: rgb(236, 240, 36);
  width: 120px;
  height: 30px;
  transform: scale(0.9);
  align-self: flex-start;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(175, 178, 26, 0.85) 2px 4px 1px;
}

.diKlik a {
  text-decoration: none;
  color: #202020;
  font-weight: 600;
}

.aButton a {
  text-decoration: none;
  color: #202020;
  font-weight: 600;
}
.tools_section {
  width: 100%;
  margin-bottom: 3rem;
}

.tContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.tTitle {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tTitle p {
  font-size: 13px;
  font-weight: 100;
  color: rgb(236, 240, 36);
}

.tBox h4 {
  color: #202020;
}

.tBox {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.iTool {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(236, 240, 36);
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: rgba(115, 116, 12, 0.85) 2px 2px 1px;
}

.iSkill h4 {
  color: #202020;
}

.services_section {
  width: 100%;
  height: auto;
  position: relative;
}

.services_title {
  text-align: center;
}

.services_title p {
  color: rgb(236, 240, 36);
  font-size: 13px;
  font-weight: 100;
}

.services_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.services-Wrapper {
  border: 2px solid rgb(236, 240, 36);
  width: 300px;
  height: 100%;
  color: #202020;
  padding: 10px;
  border-radius: 5px;
  transition: all 1s ease;
  backdrop-filter: blur(5px);
}

.icon-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  animation-duration: 0.75s;
  transition: all 1s ease;
}

.title-wrapper {
  color: rgb(236, 240, 36);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(236, 240, 36);
  width: auto;
  border-radius: 60px;
  text-align: center;
  padding: 1rem;
  transition: 1s;
  box-shadow: 0 0 10px rgb(236, 240, 36), inset 0 0 10px rgb(236, 240, 36);
}

.title-wrapper {
  padding: 10px;
  text-align: center;
}

.sContainer {
  padding: 1rem 0;
  margin-top: 3rem;
}

.sTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sTitle p {
  color: rgb(236, 240, 36);
}

/*Create A Lines */
.aSection::before {
  content: '  ';
  position: absolute;
  width: 49%;
  height: 11%;
  top: 70%;
  left: 19.5rem;
  border-bottom: 2px solid rgb(236, 240, 36);
  border-left: 2px solid rgb(236, 240, 36);
  z-index: -1;
}
.aSection::after {
  content: '  ';
  position: absolute;
  width: 13%;
  height: 38.2%;
  left: 63.9%;
  top: 81%;
  border-bottom: 2px solid rgb(236, 240, 36);
  border-right: 2px solid rgb(236, 240, 36);
  border-top: 2px solid rgb(236, 240, 36);
}
.services_section::after {
  content: '  ';
  position: absolute;
  width: 15%;
  height: 28.8%;
  left: 73%;
  top: -19.3%;
  border-left: 2px solid rgb(236, 240, 36);
  z-index: -1;
}
/**Create Cross Lines */
.sContainer::before {
  content: '  ';
  position: absolute;
  width: 10px;
  height: 100px;
  bottom: 8rem;
  left: -30px;
  border-left: dotted 1px rgb(236, 240, 36);
  border-right: dashed 1px rgb(236, 240, 36);
}
.sContainer::after {
  content: '  ';
  position: absolute;
  width: 10px;
  height: 100px;
  right: -5%;
  bottom: -5%;
  border-left: dotted 1px rgb(236, 240, 36);
  border-right: dashed 1px rgb(236, 240, 36);
}
.fprofile {
  width: 300px;
}
.floating__wrapper {
  position: absolute;
  padding: 10px;
  background-color: rgb(236, 240, 36);
  border-radius: 5px;
  color: #202020;
  box-shadow: #202020 0 0 10px;
}
.floating__wrapper > h1 {
  font-size: 18px;
}
.floating__wrapper > p {
  font-size: 12px;
}
@media screen {
  @media (max-width: 48em) {
    .aContainer {
      display: flex;
      flex-direction: column-reverse;
    }
    .aBox > h1 {
      font-size: 36px;
      align-self: center;
    }
    .aBox > h3 {
      font-size: 18px;
      align-self: center;
    }
    .aBox > p {
      font-size: 12px;
      text-align: center;
    }
    .aIcon {
      align-self: center;
      display: flex;
      justify-content: center;
    }
    .aButton {
      align-self: center;
    }
    .fprofile {
      width: 300px;
    }
    .floating__wrapper {
      width: 100px;
      height: 50px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .floating__wrapper > h1 {
      font-size: 9px;
    }
    .floating__wrapper > p {
      font-size: 6px;
    }
    .tTitle > h1 {
      font-size: 24px;
    }
    .iTool > h4 {
      font-size: 12px;
    }
    .services_title > h1 {
      font-size: 24px;
    }
    .services_container {
      flex-direction: column;
      gap: 1.5rem;
    }
    .sContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    /*Create A Lines */
    .aSection::before {
      content: '  ';
      position: absolute;
      width: 12%;
      height: 80%;
      top: 0%;
      left: 19.5rem;
      border-bottom: 2px solid rgb(236, 240, 36);
      border-left: 2px solid rgb(236, 240, 36);
      z-index: -1;
    }
    .aSection::after {
      content: '  ';
      position: absolute;
      width: 13%;
      height: 50.5%;
      left: 63.9%;
      top: 80.1%;
      border-right: 2px solid rgb(236, 240, 36);
      border-top: 2px solid rgb(236, 240, 36);
      z-index: -1;
    }
    .services_section::after {
      content: '  ';
      position: absolute;
      width: 15%;
      height: 82.5%;
      left: 73%;
      top: -7.6%;
      border-left: 2px solid rgb(236, 240, 36);
      z-index: -1;
    }

    /**Create Cross Lines */
    .sContainer::before {
      content: '  ';
      position: absolute;
      width: 10px;
      height: 100px;
      bottom: 8rem;
      left: -30px;
      border-left: dotted 1px rgb(236, 240, 36);
      border-right: dashed 1px rgb(236, 240, 36);
    }
    .sContainer::after {
      content: '  ';
      position: absolute;
      width: 10px;
      height: 100px;
      right: -5%;
      bottom: -5%;
      border-left: dotted 1px rgb(236, 240, 36);
      border-right: dashed 1px rgb(236, 240, 36);
    }
    .aSection {
      padding-bottom: 1rem;
    }
  }
}
@media screen {
  @media (max-width: 450px) {
    .tools_section {
      width: 400px;
    }
  }
}
@media screen {
  @media (max-width: 400px) {
    .aSection {
      padding-bottom: 1rem;
    }

    .iTool > h4 {
      font-size: 8px;
    }
    /*Create A Lines */
    .aSection::before {
      content: '  ';
      position: absolute;
      width: 12%;
      height: 80.2%;
      top: 0%;
      left: 13.5rem;
      border-bottom: 2px solid rgb(236, 240, 36);
      border-left: 2px solid rgb(236, 240, 36);
      z-index: -1;
    }
    .aSection::after {
      content: '  ';
      position: absolute;
      width: 13%;
      height: 50%;
      left: 63.9%;
      top: 80.1%;
      border-right: 2px solid rgb(236, 240, 36);
      border-top: 2px solid rgb(236, 240, 36);
      z-index: -1;
    }
    .services_section::after {
      content: '  ';
      position: absolute;
      width: 15%;
      height: 82.5%;
      left: 73%;
      top: -7.6%;
      border-left: 2px solid rgb(236, 240, 36);
      z-index: -1;
    }
  }
}
