@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@100;400;600&family=Poppins&family=Ubuntu:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(236, 240, 36);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(175, 178, 26, 0.85);
}

.app {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 768px;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  align-items: center;
  padding-bottom: 100px;
}
.brand {
  margin: 10px;
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.brand span {
  color: rgb(236, 240, 36);
}
.navigation-container {
  position: fixed;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(70vh);
}

.hide-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 240, 36);
  width: 30%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}
@media screen {
  @media (max-width: 48em) {
    .app {
      width: 550px;
    }
  }
}
@media screen {
  @media (max-width: 35em) {
    .app {
      width: 400px;
    }
  }
}
